/* Found colors for die and "water" background in the Blue colors at https://www.rapidtables.com/web/color/html-color-codes.html 

Used wikipedia for magic eight ball reference: https://en.wikipedia.org/wiki/Magic_8-Ball */

body {
  background: #000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8vh;
}

.main-content h1 {
  font-size: 2.5vw;
  color: #fff;
}

.ask-a-question h2 {
  font-size: 1.5vw;
  color: #fff;
  text-align: center;
  margin-bottom: 0.8em;
}

#eight-ball-img {
  width: 15vw;
  height: auto;
  margin: 2em;
}

form {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

#question {
  max-width: 46vw;
  flex-grow: 1;
  font-size: 1.7em;
  padding: 0.25em;
}

button {
  border: none;
  font-size: 1vw;
  cursor: pointer;
  padding: 0.8em;
  border-left: 1px solid #000;
  transition: all 0.3s;
}

button:hover,
button:focus {
  background: #0000ff;
  color: #1e90ff;
  border-left: 1px solid transparent;
}

#askAnother.btn {
  position: absolute;
  top: 92vh;
}

#answer-background {
  display: flex;
  justify-content: center;
  width: 35em;
  height: 35em;
  background-image: radial-gradient(#0000ff 0%, transparent 81%);
}

#get-your-answer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 28%;
  height: 0;
  top: 30%;
  margin-top: 3em;
  border-left: 5.5em solid transparent;
  border-right: 5.5em solid transparent;
  border-radius: 3px;
  opacity: 1;
  animation-name: dieFadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes dieFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#get-your-answer.die-up {
  top: 80px;
  border-bottom: 10em solid #0000ff;
}

#get-your-answer.die-down {
  border-top: 10em solid #0000ff;
}

#get-your-answer #answer {
  position: absolute;
  color: #1e90ff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.15em;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

#get-your-answer.die-down #answer {
  bottom: 60px;
  transform: translateY(30%);
}

#get-your-answer.die-up #answer {
  top: 70px;
  transform: translateY(-50%);
}

/* .ask-another-question {
  border: none;
  padding: 0.7em 1em;
} */
